/* Cart Page Container */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.cart-page {
    padding: 20px;
    max-width: 1000px;
    font-family: 'Amatic SC', cursive;
    margin-top: 30px;
    margin-left: 120px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.cart-items {
    flex: 2; 
}

.cart-item {
    display: grid;
    grid-template-columns: 2fr 0.5fr 1fr 0.5fr; 
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.cart-content {
    display: flex;
    justify-content: space-between;
}

.cart-images {
    flex: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cart-image{
    margin-top: -80px;
    height: 80vh;
    width: 190%;
    border-radius: 10px;
    margin-left: 180px;
}

.cart-page h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: black;
    margin-left: 20px;
    font-weight: bold;
}

.cart-item h3 {
    font-size: 30px;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.cart-item h4 {
    margin: 5px 0;
    font-size: 20px;
    color: #555;
    font-weight: bold;
    text-align: center;
}

.cart-item input {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Cart Summary Section - Now positioned below cart-content */
.cart-summary {
    margin-top: 20px;
    padding-top: 20px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

.cart-summary h2 {
    font-weight: bold;
    font-size: 45px;
}

/* Checkout Button */
.checkout-btn {
    padding: 10px 20px;
    background-color: #88bb90;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.remove-btn{
    padding: 10px 20px;
    background-color: #e47b5e;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.remove-btn:hover {
    background-color: #d66849;
}
.checkout-btn:hover {
    background-color: #6b9471;
}

/* Empty Cart Message */
.cart-page p {
    font-size: 18px;
    text-align: center;
    color: #666;
}